<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    


<div class="jumbotron">
  
  <div class="col-md-3">
    <div class="form-group">
      
    </div>
  </div>
  
  
</div>

<div>
    <table class="table">




      <thead>
        <tr>
          <th>name</th>
          <th>email</th>
          <th>etype</th>
          <th>hourlyrate</th>
          <th>totalHour</th>
          
        </tr>
      </thead>
      <% records.forEach(function(row){%>
        
     <td><%=row.name %></td>   

     <td><%=row.email %></td>   
     <td><%=row.etype %></td>   
     <td><%=row.hourlyrate %></td>   
     <td><%=row.totalHour%></td>   
        
        
        
      <tr>
<% }) %>

      </tr>
      </table>
    </div>


      <div class="container">
        <h2>Vertical (basic) form</h2>
        <form action="/" method="post">
          <div class="form-group">
            
            <label for="email">name:</label>
            <input type="text" class="form-control" id="email" placeholder="Enter email" name="name">
          </div>
          <div class="form-group">
            
            <label for="email">email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
          <div class="form-group">

            <label for="email">etype:</label>
            <input type="text" class="form-control" id="email" placeholder="Enter email" name="etype">
          </div>
          <div class="form-group">
            <label for="pwd">hourlyrate:</label>
            <input type="text" class="form-control" id="pwd" placeholder="Enter password" name="hourlyrate">
          </div>
          <div class="form-group">
            <label for="pwd">totalHour:</label>
            <input type="text" class="form-control" id="pwd" placeholder="Enter password" name="totalHour">
          </div>
          

          <button type="submit" class="btn btn-input">Submit</button>
        </form>
      </div>
      

    </body>
</html>
